@import "tailwindcss";

*{
  box-sizing: border-box;
  
}
body{
    overflow-y: auto;
    overflow-x: hidden;
}

@keyframes blink {
  50% { border-color: transparent; }
}


.typing-caret {
  display: inline-block;
  width: 0;
  border-right: 3px solid #facc15; 
  margin-left: 2px;
  vertical-align: bottom;
  animation: blink .7s step-end infinite;
}


.typing-caret.hidden {
  border-right-color: transparent;
  animation: none;
}

@keyframes toss {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-120px) rotate(30deg);
  }
  50% {
    transform: translateY(-160px) rotate(60deg);
  }
  75% {
    transform: translateY(-120px) rotate(90deg);
  }
}

@keyframes armLeft {
  0%, 100% { transform: rotate(10deg); }
  50% { transform: rotate(-20deg); }
}

@keyframes armRight {
  0%, 100% { transform: rotate(-10deg); }
  50% { transform: rotate(20deg); }
}

.animate-toss {
  animation: toss 1.6s infinite ease-in-out;
}

.animate-arm-left {
  animation: armLeft 1.6s infinite ease-in-out;
}

.animate-arm-right {
  animation: armRight 1.6s infinite ease-in-out;
}

.notfound-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: brightness(0.4);
}

.error-text {
  font-size: 10rem;
  font-weight: 800;
  color: white;
  animation: bounce 1.5s infinite ease-in-out;
}

.message {
  font-size: 1.6rem;
  color: #eee;
  margin-top: -10px;
  letter-spacing: 1px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}

.fade-left {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-right {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.appear {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-40px);
  animation: fadeLeft 1s ease-out forwards;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(40px);
  animation: fadeRight 1s ease-out forwards;
}

@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
